<footer class="bg-[#27303E] text-[#AAB0B4]">
    <div class="container mx-auto py-10 px-4">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-7">
            <div class="lg:col-span-3 md:col-span-4 col-span-12 text-center">
                <h5 class="tracking-wide text-white font-bold">Quick Links</h5>
                <ul class="list-none mt-6 space-y-2">
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Homepage</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Roaming Information</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Service Fees</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Report Fraud</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Device Repair</li>
                </ul>
            </div>
            <div class="lg:col-span-3 md:col-span-4 col-span-12 text-center">
                <h5 class="tracking-wide text-white font-bold">Offers</h5>
                <ul class="list-none mt-6 space-y-2">
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Mobile Plans</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Prepaid Sim</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Internet at Home</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">5G Spped Option</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Saving Option</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Wifi Calling</li>
                </ul>
            </div>
            <div class="lg:col-span-3 md:col-span-4 col-span-12 text-center">
                <h5 class="tracking-wide text-white font-bold">My yallo</h5>
                <ul class="list-none mt-6 space-y-2">
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Account Login</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">My Products</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Usage History</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Past Invoices</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Settings</li>
                </ul>
            </div>
            <div class="lg:col-span-3 md:col-span-4 col-span-12 text-center">
                <h5 class="tracking-wide text-white font-bold">About yallo</h5>
                <ul class="list-none mt-6 space-y-2">
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Company</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Media Center</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Review & Awards</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Business Customers</li>
                    <li class="hover:text-gray-600 transition-all duration-500 ease-in-out">Reseller Login</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mx-auto py-10 px-4">
        <img src="assets/resources/Logo.svg" class="h-6 w-screen justify-center items-center" />
    </div>
</footer>